[2015-01-27 20:36] wpnzach opened #5 "Different S3/Dropbox folders for different forms"
Is it possible to move these options to the field or form settings instead of making them global?

[2017-02-28 20:50] clifgriffin opened #212 "Editing submissions destroys upload data"
I haven't been able to test this with the 3.x codebase, but with 2.9.x editing a submission through WP admin deletes important meta data.
Before:
[code]
After:
[code]

Is this a known issue?

[2017-05-02 20:40] polevaultweb opened #240 "Allow mergetags per field to change upload directory"
https://wpninjas.kustomerapp.com/app/customers/590743afec34191000677aea/event/590743b0ec34191000677aec

[2017-05-30 16:10] klhall1987 opened #246 "Multipart with required fields are causing file uploads to stop showing what has been uploaded to the upload field."
This is a tough one to describe, but I'll do my best. If a mulit-part form has a file upload field and required fields. If all the required fields are met and the form is submitted the file uploads fields do not show the files that have been uploaded to them. If you correct the required fields and then submit the form, the uploads will be submitted.

Replication Steps:
1. Create a new form.
2. Add

[2017-06-16 16:36] kstover opened #261 "Update Dropbox API to Version 2"
On 28 June 2017, support for version 1 of the Dropbox API will cease. We need to change our version ASAP and get an update out the door.

https://blogs.dropbox.com/developers/2016/06/api-v1-deprecated/

[2017-06-26 19:55] #261 closed

[2017-07-05 14:59] kstover opened #263 "Upload Table Name Issue With Custom Prefixes"
When activating the plugin on an install with a non-standard wp_ prefix, the ninja_forms_uploads table is created without a prefix.

[2017-07-05 19:09] polevaultweb commented on #263
@kstover what version of NF core? I've got it installed with non standard prefix.

[2017-07-05 19:44] #246 closed

[2017-07-06 12:32] polevaultweb opened #264 "File name issues with encoding"
`Parts Dryer#1021 Heater Assembly.PDF`

https://ninjaformsdev.slack.com/archives/C0EFXJF0D/p1499343577825536

[2017-07-06 14:34] #264 closed

[2017-07-07 20:19] wpnzach opened #266 "Attach to email toggle doesn't appear until the builder is reloaded"
If I add a file upload field to my form, i have to publish and reload the builder for the attachment toggle to show in email actions.

[2017-07-12 12:23] polevaultweb commented on #263
This is actually happening to users! https://wpninjas.kustomerapp.com/app/customers/5963e9b7efc6710010f5b010/event/5963e9b701fc550010f7749e

[2017-07-12 12:26] polevaultweb commented on #263
Core changed that caused it, as FU uses the migration class https://github.com/wpninjas/ninja-forms/commit/74ba12c869d426b0fd0e02bfeae18252f7790b00 cc @kjohnson :)

[2017-07-12 17:13] #263 closed

[2017-07-17 20:37] polevaultweb opened #268 "Prefix the enqueued scripts handles for jQuery file upload assets"
https://wpninjas.kustomerapp.com/app/customers/595a1c7eb9057c0010cbcb64/event/595a1c7f1944830010065650

[2017-07-20 12:52] polevaultweb opened #269 "Delete tmp file on successful submission"
No need to wait for the cron.

[2017-07-24 16:09] kjohnson opened #270 "Nonce Error for Authenticated Users"
Seeing sparse reports of a "Nonce Error" with the Uploads field with Authenticated Users.

---

Reference: https://wpninjas.kustomerapp.com/app/customers/596c4ad79236fa00114676c5/event/59757b37291ce90011c789f2

[2017-07-24 17:20] Much2tall commented on #270
includes/ajax/controllers/uploads.php (L: 38)

Result of this check returning 'false':
check_ajax_referer( 'nf-file-upload-' . $field_id, 'nonce', false );

https://developer.wordpress.org/reference/functions/check_ajax_referer/

In the previous report of this, we found that the user had some database issues going on, but with a second File Upload Field on the Form, I was able to copy over the non

[2017-07-25 08:30] polevaultweb commented on #270
My own investigations with this have found that the nonce created by FU for a field, is actually not the nonce passed back for the check for authenticated users. It seems the nonce is being replaced in the form. That was when looking at https://wpninjas.kustomerapp.com/app/customers/581714930b0ff4110031fa39/event/5949485f0e0528001192f3b0

So confused why the fix of replacing the fields worked (pro

[2017-07-25 16:03] polevaultweb opened #271 "Table not created on fresh installs"
https://wpninjas.kustomerapp.com/app/customers/5829fd2fe149e8120004b3f9/event/5975b04e291ce90011c97283

[2017-07-25 16:12] #271 closed

[2017-07-25 16:13] #268 closed

[2017-07-25 20:00] jmcelhaney opened #274 "Upload is not sent to Dropbox if a custom path is specified."
Upload is not sent to Dropbox if a custom path is specified.

Ninja Forms - 3.1.6
File Uploads - 3.0.11

Steps to reproduce:
1. Connect to Dropbox
2. Create form with an External File Upload action
3. Complete the form and confirm that the File Was uploaded to Dropbox
4. Setup a custom file path for dropbox
5. Complete the form again and the file will have been uploaded to the server not Dropbox.

[2017-07-26 10:59] polevaultweb commented on #274
@jmcelhaney have you got an example/screenshot of the path you are using? (just so i can recreate with trailing/leading slashes etc)

[2017-07-28 17:36] polevaultweb opened #275 "Ability to move the description below the FU element"
https://wpninjas.kustomerapp.com/app/customers/583595b1b98dd11100f18db3/event/5979a4ea4d1ce500103fbacf

[2017-07-28 19:07] polevaultweb opened #276 "Dropbox uploads fail with custom external path"

[2017-07-28 19:59] #276 closed

[2017-08-01 18:31] jmcelhaney commented on #274
@polevaultweb I tested this with the following settings in the File Path for Dropbox using the same form:
/justin/ - Saves to server, does not send to Dropbox
/justin - Saves to server, does not send to Dropbox
justin/ - Saves to server, does not send to Dropbox
justin - Saves to server, does not send to Dropbox
(BLANK) - Sends to Dropbox

[2017-08-02 08:26] polevaultweb commented on #274
@jmcelhaney I duplicated this issue here, apologies https://github.com/wpninjas/ninja-forms-uploads/issues/276. Does this still happen on latest version? (It shouldn't :) )

[2017-08-02 13:05] polevaultweb opened #278 "Return original filename as part of the `ninja_forms_uploads_dropbox_filename` filter"
https://wpninjas.kustomerapp.com/app/customers/597eede445de4e0010d93b62/event/597eede445de4e0010d93b66

[2017-08-03 13:07] polevaultweb commented on #270
This was happening for non authenticated users due to WC Total Cache https://wpninjas.kustomerapp.com/app/customers/582c70c2e58ad61100ec87bc/event/5977790ead3c380010fc33f9

[2017-08-03 14:30] polevaultweb opened #279 "Add info about creating directories with the custom filename rename"
in the help bubble.

[2017-08-07 16:04] polevaultweb opened #281 "Control the FU data sent to Zapier when using External uploads"
@fatcatappsdev we need to chat if there is a filter on the Zapier end that FU can hook into.

From https://wpninjas.kustomerapp.com/app/customers/598158988b8bba0010269970/event/5981589818dfbd00114bddcb

[2017-08-08 21:05] ataylo52 commented on #274
I am having the same issues. I feel it might be something to do with the file upload limits on the server. Smaller files are able to be pushed to Dropbox but larger ones are not.

[2017-08-09 07:51] polevaultweb opened #282 "%formtitle% not being replaced in rename field"
When form has no custom directory set

[2017-08-09 07:53] polevaultweb opened #283 "Custom rename path/filename not working for external uploads"
https://wpninjas.kustomerapp.com/app/customers/597eede445de4e0010d93b62/event/597eede445de4e0010d93b66

[2017-08-09 08:49] polevaultweb commented on #274
@ataylo52 are the smaller files that are uploaded, uploaded with the correct custom path? If so then this is not related to this ticket and would you mind opening a new issue with your diagnostic data and the size of the files that aren't uploaded?

[2017-08-09 09:02] fatcat-jeremy commented on #281
@polevaultweb

I'll have Ryan ( @fatcatappsdev ) to get back to you on this soon. I wanted to download and install a copy of the file uploads extension, so I can test it out, and have clear understanding of the issue.

If it's ok that I grab it from here, what branch or tag would be best? Let me know, and I'll take a look, and see what the best way to go about this is.

[2017-08-09 09:05] polevaultweb commented on #281
hey @fatcat-jeremy, great - latest release is good - https://github.com/wpninjas/ninja-forms-uploads/releases/tag/v3.0.12

[2017-08-09 14:09] polevaultweb opened #285 "Custom path form setting can't use %field_key% mergetags"
%field_[id]%
%field_[key]%

[2017-08-09 14:26] polevaultweb commented on #240
This is available now

[2017-08-09 14:26] #240 closed

[2017-08-09 15:14] #5 closed

[2017-08-09 15:14] #278 closed

[2017-08-09 15:14] #279 closed

[2017-08-09 15:14] #282 closed

[2017-08-09 15:14] #285 closed

[2017-08-09 15:37] jmcelhaney commented on #274
https://wpninjas.kustomerapp.com/app/customers/595f9b62157ccd0011c2ebb0/event/5989de12d9498500113f3667

[2017-08-09 16:10] ataylo52 commented on #274
@polevaultweb. Yes, thanks.

[2017-08-10 10:35] polevaultweb commented on #274
@ataylo52

Is that in answer to "are the smaller files that are uploaded, uploaded with the correct custom path?"

[2017-08-10 10:38] polevaultweb commented on #283
Fixed by https://github.com/wpninjas/ninja-forms-uploads/pull/284

[2017-08-10 10:38] #283 closed

[2017-08-10 15:19] ataylo52 commented on #274
@polevaultweb I thought that was the issue, but no. It's still not uploading to the correct path regardless of the size of the upload. I've changed my servers settings and it's still not working.

[2017-08-11 11:22] polevaultweb opened #286 "%time% shortcode for file renaming and custom paths"
https://wpninjas.kustomerapp.com/app/customers/594bb22d0e052800119de021/event/598ae2a670fb9200110c601b

[2017-08-11 12:46] polevaultweb opened #287 "Upload timeouts need to be increased for external uploads"
https://wpninjas.kustomerapp.com/app/customers/595f9b62157ccd0011c2ebb0/event/5989de12d9498500113f3667

[2017-08-11 12:52] polevaultweb commented on #274
@jmcelhaney I've been troubleshooting with the customer and this issue is related to uploads timeouts to Dropbox (https://github.com/wpninjas/ninja-forms-uploads/issues/287).

With regards to this issue, please can you see if you can replicate this issue on the `master` and if not close out. I believe, this is a dup of https://github.com/wpninjas/ninja-forms-uploads/issues/276

[2017-08-11 13:44] Much2tall commented on #270
Another report of this happening with an authenticated user: https://wpninjas.kustomerapp.com/app/customers/581714930b0ff4110031fa39/event/5949485f0e0528001192f3b0

[2017-08-11 16:11] polevaultweb commented on #270
@Much2tall not a new report - same guy as https://github.com/wpninjas/ninja-forms-uploads/issues/270#issuecomment-317667881.

[2017-08-12 07:13] #287 closed

[2017-08-13 07:38] polevaultweb opened #288 "Field size limit shouldn't be greater than server max"

[2017-08-13 07:39] polevaultweb opened #289 "Handle when post_max_size is lower than max_upload_size"
https://github.com/blueimp/jQuery-File-Upload/wiki/Frequently-Asked-Questions
http://php.net/manual/en/ini.core.php#ini.post-max-size

https://wpninjas.kustomerapp.com/app/customers/595f9b62157ccd0011c2ebb0/event/5989de12d9498500113f3667

[2017-08-15 13:32] wpnzach opened #291 "Merge tag selector not available in "RENAME UPLOADED FILE" field"
Users do not have a way to insert merge tags here other than from memory or copy/pasting from other locations.

[2017-08-16 07:30] fatcat-jeremy commented on #281
@polevaultweb James with NF was asking us if this issue was resolved in the latest release of NF, and I was not sure. Did you figure something out without us?

If not, we'll have our developer available to assist next week. We had to sort this into our roadmap, so he'll be able to get back to you soon.

[2017-08-17 12:23] polevaultweb commented on #281
@fatcat-jeremy nope, nothing added to FU. I was waiting to hear from you as per https://github.com/wpninjas/ninja-forms-uploads/issues/281#issuecomment-321197400

[2017-08-18 13:59] Much2tall commented on #270
@polevaultweb Yes, same guy, but on a Form that had already been corrected for the error once before.
So, my solution of just replacing the Field with a new one isn't permanent, or at least not in this guy's case.

[2017-08-18 15:15] polevaultweb commented on #270
This is likely due to Save Progress saving an old nonce. https://wpninjas.kustomerapp.com/app/customers/594bb22d0e052800119de021/event/59944f7535623400117c05bc

[2017-08-18 15:16] polevaultweb commented on #270
@kstover @kjohnson is there anyway to not save certain model /view data?

[2017-08-22 10:02] fatcatappsdev commented on #281
I had a chance to review the issue and I think there are two ways we could solve it:

1 - In File Uploads plugin populate the 'external_path', which we can then pick off in our process action, and send along to Zapier

![image](https://user-images.githubusercontent.com/16645599/29560239-8eec1206-875b-11e7-814e-4db32291bc72.png)

or

2 - Implement this https://github.com/wpninjas/ninja-forms-upload

[2017-08-22 10:27] polevaultweb commented on #281
@fatcatappsdev How late does the zapier action happen? Perhaps it is hitting to early before external upload.

[2017-08-22 10:50] fatcatappsdev commented on #281
It's priority 10 & timing is 'late', I tried various other timings & priority and still haven't had that field be populated, maybe im doing something wrong

[2017-08-24 18:45] kjohnson commented on #270
@polevaultweb per our discussion, we probably needs to move any nonces outside of the field context and into a form context, which will avoid any Save Progress conflict.

[2017-08-24 19:10] polevaultweb commented on #270
@kjohnson uh oh https://github.com/wpninjas/ninja-forms-save-progress/issues/66

[2017-08-24 21:37] polevaultweb opened #292 "How to doc for caching plugins"

[2017-08-28 06:34] fatcat-jeremy commented on #281
@polevaultweb

Any update on this issue? Do you think either of the above suggestions are doable, or is there something more we would need to do for you within our plugin? Or did you have any questions for our lead dev?

If you think those are workable, any idea on a time-frame?

Let me know, thanks.

[2017-08-29 06:20] polevaultweb commented on #281
@fatcat-jeremy hey, will be looking later today

[2017-08-30 14:53] HardeepAsrani opened #296 "Isn't this a paid plugin?"
Just out of curiosity, why do you have your paid extensions in a public repository? :)

[2017-08-30 14:55] HardeepAsrani commented on #296
Duplicate of: https://github.com/wpninjas/ninja-forms-uploads/issues/296

[2017-08-30 14:55] #296 closed

[2017-08-30 15:40] wpnzach commented on #296
Shh, it's a secret!  ;) We're experimenting at the moment, for a variety of reasons.  We had a lot of users getting our addons from "resellers" where we can't guarantee safety or quality.  For those more advanced users, we're hoping they find this instead to keep them safe.  If they're determined to get it for cheap or free, they will...we just want them to be safe regardless.  Having these repos

[2017-08-30 15:41] jameslaws commented on #296
Support and automatic updates would still require an active paid license.

[2017-08-30 15:45] HardeepAsrani commented on #296
Now I now I can sell latest version of your paid plugins. XD

Jokes apart, seems like a great idea. Would love to see how it works out. If someone wants to get it for free, they won't buy anyway so it's better to at least grow user base with them. :)

[2017-08-30 17:40] #288 closed

[2017-08-31 07:34] #281 closed

[2017-09-01 14:23] jmcelhaney opened #297 "Add a mass download option to the File Uploads page."
Add a mass download option to the File Uploads page.
/wp-admin/admin.php?page=ninja-forms-uploads

[2017-09-14 15:16] wpnzach commented on #270
Adding to top support issues, impacted users have a paid product that does not work.

[2017-09-19 14:51] rbuschmeyer commented on #270
Customer/User here... we started seeing the Nonce errors you're working on in one of our forms and have had to remove the File Uploads field entirely.  The interesting thing is that other forms have continued to work, but they do not have the Save Progress buttons on them.  The one form we are seeing errors with is a multi-part one.

I'll be happy to help by providing logs/access to our site.

[2017-09-19 15:29] kjohnson opened #298 "Add filter for temp file cleanup"
We are scheduling an event to cleanup temp files, but the cleanup time is hard coded.

https://github.com/wpninjas/ninja-forms-uploads/blob/0e7c876b3c576c45639ff698962b3c5aed437c6d/includes/ajax/controllers/uploads.php#L115

---
Customer Ticket: https://wpninjas.kustomerapp.com/app/customers/58f5d65cc41ac3100089e368/event/59c0c576ef67a0001180daa3

[2017-09-19 19:53] polevaultweb commented on #270
@rbuschmeyer this is being fixed in the next version of Save Progress 👍

[2017-09-20 00:46] rbuschmeyer commented on #270
Thanks.  No ETA on that release though?

--

Ryan Buschmeyer

C2K Consulting, LLC

From: Iain Poulson <notifications@github.com>
Reply-To: wpninjas/ninja-forms-uploads <reply@reply.github.com>
Date: Tuesday, September 19, 2017 at 3:53 PM
To: wpninjas/ninja-forms-uploads <ninja-forms-uploads@noreply.github.com>
Cc: rbuschmeyer <ryan@c2kconsulting.com>, Mention <mention@noreply.github.com>
Subject:

[2017-09-20 09:02] polevaultweb commented on #270
@kjohnson should be able to give you an idea of that

[2017-09-20 14:55] kjohnson commented on #270
@rbuschmeyer currently preparing a release.

[2017-09-20 15:11] rbuschmeyer commented on #270
Thanks, Kyle…

We are looking forward to getting File Uploads back into our forms.  We appreciate the help.

--

Ryan Buschmeyer

C2K Consulting, LLC

From: "Kyle B. Johnson" <notifications@github.com>
Reply-To: wpninjas/ninja-forms-uploads <reply@reply.github.com>
Date: Wednesday, September 20, 2017 at 10:55 AM
To: wpninjas/ninja-forms-uploads <ninja-forms-uploads@noreply.github.com>
Cc: rbuschme

[2017-09-21 18:39] Much2tall commented on #212
Issue resolved in Ninja Forms 3.

[2017-09-21 18:39] #212 closed

[2017-09-22 13:46] kjohnson opened #299 "Uploads saved to the Media Library exposed via WP REST API"
When a File Upload field is set to "Save to Media Library", these files are exposed via the WP REST API `/media` endpoint.

Is this expected behavior?

Related to wpninjas/ninja-forms#3093

[2017-09-22 16:49] kjohnson commented on #270
PR in Save Progress is merged. Closing issue.

[2017-09-22 16:49] #270 closed

[2017-09-22 16:55] rbuschmeyer commented on #270
Good afternoon Kyle, I take it the update to Save Progress is released?  Are we clear to update and rest now?

--
Ryan Buschmeyer
C2K Consulting, LLC.
412.999.3394

[2017-09-23 15:04] polevaultweb commented on #299
As they are added to the media library, if that's what the REST API does then - yes

[2017-09-26 19:21] #299 closed

[2017-10-02 19:40] kjohnson opened #300 "Over-specific Save Progress check"
File Uploads is currently checking for a specific value of `1` for the Save Progress extra data.
https://github.com/wpninjas/ninja-forms-uploads/blob/53fda6bcc8edecbe973a4957a577414b8a2ef9fc/includes/fields/upload.php#L55

Instead of being a flag, Save Progress is sending the save state as this extra data.

---
Reference: https://wpninjas.kustomerapp.com/app/customers/594bb22d0e052800119de021/even

[2017-10-05 14:24] jmcelhaney opened #301 "Nonce error happens without Save Progress activated."
Nonce error happens without Save Progress activated. This nonce error happens during the upload of the file and before the processing of the form.

WP Version: 4.8.2 - Supported
WP Multisite Enabled: No
Web Server Info: Apache/2.4.10 (Debian)
TLS Version: 1.2
PHP Version: 5.6.30-0+deb8u1
MySQL Version: 5.6.37
PHP Locale: negative_sign:
WP Memory Limit: 40M
WP Debug Mode: No
WP Language: Default
WP

[2017-10-05 14:24] jmcelhaney commented on #301
https://wpninjas.kustomerapp.com/app/customers/58e3eff7214a791100d7b6ca/event/59d544a238e5970001135e7a

[2017-10-05 15:29] kjohnson opened #302 "[L&S] Add support for styling the Upload Button"
The Upload Button is not supported by Layout & Styles, because it is not a code field type.
The File Upload add-on needs to integrate with Layout & Styles to add this support.

Related: https://github.com/wpninjas/ninja-forms-layout-styles/issues/144
Related: https://github.com/wpninjas/ninja-forms-layout-styles/issues/148

[2017-10-05 15:31] kjohnson commented on #302
Being that File Uploads is one of the "Big 4" add-ons, this could probably be handled directly in Layout & Styles.

[2017-10-09 15:59] wpnzach opened #303 "Categories for media posts"
A user submitted a feature request for the ability to add categories to media library uploads

[2017-10-09 16:02] jameslaws commented on #303
WordPress itself does not support categories for the media library so I'm not sure this is something we can seriously consider.

[2017-10-12 17:43] #300 closed

[2017-10-16 13:09] #303 closed

[2017-10-16 15:30] ericwindham opened #305 "Disable Save to Server and attach file upload not working..."
Add a file upload to form
Disable 'Save To Server' for the file upload field
In Email Action, add file upload as an attachment.

Result:

The email adds a link to the uploaded file which resolves to a 404 error(b/c we're not saving it to the server), and the file isn't being attached to the email.

[2017-10-16 15:53] klhall1987 opened #306 "Clean state of the submit button is being reset after the first upload file is complete on forms with multiple upload fields"
When a form has multiple file upload fields, the submit button grays out while fields are uploading; however if you have one field that accepts a file with a size of 100MBs and another that accepts a file with the size of 1MB. Then as soon as the field with the size of 1MB is finished uploading then, the submit button is no longer grayed out and the form can be submitted while the larger file is s

[2017-10-16 19:37] polevaultweb commented on #306
We need to store the uploading state per field in a global array, and and when the upload for a field has finished, remove the field ID from the array, and only reenable the submit button if the array is empty, i.e no other fields are uploading.

[2017-10-17 08:37] polevaultweb commented on #305
Hi @ericwindham thanks for the bug report.

I've just tried to recreate, and as yes any links to File Uploads fields will 404 for files not saved to server. That is correct.

However, I couldn't recreate the bug of the attachment not working. Can you edit your `wp-config.php` file to replace

[code]

with

[code]

And then retry the process again. Any errors will be caught in `wp-content/debug.log

[2017-10-17 18:46] klhall1987 opened #307 "Uploads aren't being sent on saved actions."
When an action is "saved" instead of submitted, uploads are not being sent with the saves. We think this is because Save Progress doesn't grab the File Upload field data due to it still being a temp file.

Replication Steps:
1. Create a new form.
2. Add a file upload field and a Save field.
3. Enable the option on the "Store in Database" action.
4. Preview, Upload a file, and save the form.
5. Go

[2017-10-18 17:43] jmcelhaney commented on #302
https://wpninjas.kustomerapp.com/app/customers/59d21357bf6316000182613f/event/59e773c7e7c88a00016c7efd

[2017-10-23 15:53] Much2tall commented on #305
@ericwindham

My results are the same as those of @polevaultweb.

The 404 happens if I click on the link in the message. However, the attachment appears to be working correctly.

[2017-10-23 16:10] ericwindham commented on #305
So yes, I jumped the gun on this. The 404 thing does happen, but the attachment is there. MailHog doesn't show the attachment in HTML mode, but I can see the attachment in plain text, source, and MIME modes. I'll get back with the customer and see if I can figure out the issue.

[2017-10-23 16:11] ericwindham commented on #305
Do we want to close this issue? Or leave it open for the 404 thing? Open separate issue for the 404 thing?

[2017-10-23 16:24] Much2tall commented on #305
File Uploads should probably remove its merge tag from the {fields_table} and {all_fields_table} merge tags if "Save to Server" is disabled for the upload.

So, that portion, I would still consider a bug.

[2017-10-23 17:47] polevaultweb commented on #305
@Much2tall can you raise as a separate issue please.

[2017-10-23 17:47] #305 closed

[2017-10-24 14:22] frankiekiely12 commented on #270
Hi all! I came across this thread while searching for a solution to our own nonce error issue. I'm new to github so please forgive me if i've reopened something or I shouldn't be commenting here but if someone could point be in the right direction of help it'd be really appreciated?

[2017-10-24 14:26] polevaultweb commented on #270
@frankiekiely12 best to shoot an email over to the Ninja Forms support :)

[2017-10-24 14:27] frankiekiely12 commented on #270
@polevaultweb Thank you so much mate!

[2017-10-24 16:32] jmcelhaney commented on #301
https://wpninjas.kustomerapp.com/app/customers/593a7ae06ec6a6001114309a/event/59ef4eb9b6bc2400014e7aeb

[2017-10-25 10:16] polevaultweb commented on #301
@jmcelhaney ^ user has WP Rocket - likely page is cached.

[2017-10-31 19:57] jmcelhaney opened #308 "The File Upload Max File Size allows the total upload size for the field to be over the limit if multiple files are uploaded."
The File Upload Max File Size allows the total upload size for the field to be over the limit if multiple files are uploaded as long as the individual files are under the set limit. This limit should probably be for all of the files uploaded in that field.
Currently there is not a way to limit the collective size of files uploaded.

[2017-10-31 19:57] jmcelhaney commented on #308
https://wpninjas.kustomerapp.com/app/customers/5859a5eff06ae31000052f24/event/59f8895db1fc9600019aedf7

[2017-11-03 00:17] jonnymaceachern opened #309 "Translating "select_files_text""
I'm using the `ninja_forms_localize_fields` hook to translate form fields. It will let me modify labels, but when attempting to modify the File Uploads button text, it remains as the default "Select Files".

[code]

[2017-11-13 15:06] wpnzach opened #310 "Button text for multiple FU fields always changes to the text of the first field"
If I have two or more file upload fields, the button text for the subsequent fields always takes the value of the text that was set for the first field.

[2017-11-13 15:49] klhall1987 commented on #302
https://wpninjas.kustomerapp.com/app/customers/58a0b9aa2b74d711009c5ed0/event/5a062199b609ca0001f45e21

[2017-11-15 09:54] polevaultweb commented on #302
@kjohnson @klhall1987 who is taking this on in L&S? Is there a companion GH issue?

[2017-11-15 16:08] klhall1987 commented on #302
@polevaultweb I don't think there is a companion GH issue. Let me discuss with the team how we want to tackle this and I'll follow up with you a bit later today.

[2017-11-15 20:26] klhall1987 commented on #302
@polevaultweb I didn't have time to get with Zach to talk about this today. I'll talk with him tomorrow after our dev stand up.

[2017-11-17 15:54] jmcelhaney opened #311 "Unable to rename multiple File Upload fields using the SELECT FILES BUTTON TEXT"
Replication steps:
Add multiple file upload fields.
Rename them to different things using the SELECT FILES BUTTON TEXT option.
Preview the form and the setting for the first field will be used for all fields.

[2017-11-17 15:55] jmcelhaney commented on #311
https://wpninjas.kustomerapp.com/app/customers/59df43260d444d000175c9ad/event/5a0c59db49a115000129ac78

[2017-11-18 14:21] polevaultweb opened #312 "Dropbox connection issue"
The oauth Initialization Vector passed back from the connection service isn't URL encoded.

[2017-11-18 14:22] #312 closed

[2017-11-18 22:37] #311 closed

[2017-11-18 22:38] polevaultweb commented on #310
Duplicate of https://github.com/wpninjas/ninja-forms-uploads/issues/311

[2017-11-18 22:38] #310 closed

[2017-11-18 22:42] polevaultweb commented on #309
@jonnymaceachern that filter is just for core NF strings. On the current version you can use the filter `ninja_forms_uploads_js_strings` and in future versions use `ninja_forms_upload_select_files_text`. Or you can translate the .pot file with your language of choice.

[2017-11-18 22:42] #309 closed

[2017-11-18 22:45] #298 closed

[2017-11-25 14:00] polevaultweb opened #313 "Don't allow max number of uploads per field to exceed max_file_uploads in UI"
The server defines how many files can be uploaded by one input file field ($_FILES), by the php.ini setting `max_file_uploads`. We need to make that the hard limit in the UI, and explain how to extend.

[2017-11-25 14:01] polevaultweb commented on #313
https://wpninjas.kustomerapp.com/app/customers/5a0b422020785c0001c5b22e/event/5a0df92c6706fa0001479c43

[2017-11-25 14:06] polevaultweb commented on #313
Not sure what we can do here, it doesn't stop users setting a max files per field greater than `max_file_uploads` (default 20), as they can use the select button to upload 20 as many times as their field limit allows. Thoughts @kstover @kjohnson

[2017-11-29 14:19] jmcelhaney opened #314 "Add option for disallowed file types"
Add option for disallowed file types.
Currently if you want to disallow one file type, you have to list all allowed file types.

[2017-11-29 14:29] manakuke commented on #314
Would preferred the option to have Ninja Forms pull in and default to the WordPress setting for allowed file types. With, perhaps and option to turn off said default to then override on a form by form or field by field basis the allowed file setting. When you have lot's of forms and fields, needing to add doc, docx, pdf (for example) to every file upload field each time a form is created is a inef

[2017-12-04 21:17] Much2tall commented on #313
@polevaultweb How edge case is it for a user to submit more than 20 files to a single upload input?

[2017-12-05 09:44] polevaultweb commented on #313
@Much2tall probably quite an edge case, and not a show stopper, ie. they can still do it again to upload > 20

[2017-12-19 08:03] polevaultweb opened #315 "Make S3 permissions private by default"
https://wpninjas.kustomerapp.com/app/customers/5a0de3db2326820001d64df6/event/5a302425c33f080001f9c0dc

[2017-12-20 15:59] jmcelhaney opened #316 "Add ELEMENT HOVER STYLES to the File Uploads button"
Add ELEMENT HOVER STYLES to the File Uploads button similar to how it is for the submit button.
Thisa may need to be changed in Layout & Styles also.

[2017-12-28 20:41] jmcelhaney opened #317 "A failed reCaptcha will give a File Upload error if the file is not re-uploaded"
A failed reCaptcha will give a File Upload error if the file is not re-uploaded.

Replication steps:
Create a form with a File Upload field and a reCaptcha
Publish and View the form
Add a file to the file upload field
Attempt to submit the form without checking the reCaptcha (the submission will fail)
Check the reCaptcha field and try to resubmit and you will get a File Upload error.

[2018-01-02 22:05] jmcelhaney commented on #302
https://wpninjas.kustomerapp.com/app/customers/5a4654667c042c0001359d92/event/5a4a7e79e4635c00019093c6

[2018-01-07 08:21] polevaultweb commented on #316
I think this needs to be fixed in L&S. Currently the only Field Types supported are `_submit`. This needs to be filterable. Thoughts @klhall1987 @jmcelhaney

[2018-01-08 18:52] jmcelhaney commented on #302
https://wpninjas.kustomerapp.com/app/customers/5a53b6aaa1473f00016d5195/event/5a53b6aaa1473f00016d5198

[2018-01-09 15:27] jmcelhaney opened #319 "Better error handling for File Uploads"
Better error handling for File Uploads

Currently if the File being uploaded is larger than the PHP Post Max Size the user will see the error: "No Field ID Supplied"

[2018-01-29 15:24] mvincik commented on #270
Hello,

I wanted to report back what I think might be the issue. I believe there is some security setup on the file uploads that generates a unique session code. When you have a caching plugin installed, it might be possible that a single code is being cached and served to many different people instead of one code per session. What I did to resolve the issue was exclude the page with the file uplo

[2018-02-06 11:30] fariasf opened #321 "Rename file uploads - MySQL queries seem to grow with the total number of forms and fields"
I'm working on a site where NinjaForms is used to upload files, and when the people creating forms enter a pattern in the "RENAME UPLOADED FILE", the code makes *1800 additional database queries*, and the submission takes more than a minute.
This site has a big number of forms (more than 300) and several fields per form.

I managed to reproduce the issue in a clean environment:
- WordPress 4.9.3
-

[2018-02-06 11:50] polevaultweb commented on #321
@fariasf thanks for the report. I'm curious if File Uploads is causing this. Does it happen with FU disabled?

[2018-02-06 12:00] fariasf commented on #321
@polevaultweb - if I disable FU after all those steps, the 12 queries are gone.
Same happens if I remove the contents from the "RENAME UPLOADED FILE" setting in my upload field: no additional queries.
As soon as I add a value to "RENAME UPLOADED FILE", even if it doesn't contain any "placeholders", the 12 queries appear again.

[2018-02-06 12:12] polevaultweb commented on #321
Thanks @fariasf I'll look into 👍

[2018-02-12 17:56] ericwindham opened #322 "Now that we are using form tags to help with autocomplete..."
the form treats the file upload <button> as a submit button and submits when it's clicked.

We don't want that.

[2018-02-20 20:25] Curtisbrownlee opened #324 "Feature: Display only accepted file types in the Select Files browser"
If a user restricts the accepted file types, when a visitor clicks the File Upload button, only display files of those types in the file select window that appears.

Currently, the default is "All Files".  Files that do not match the requirements are correctly refused currently, but the user would rather those files don't appear in the first place.

[2018-02-28 14:26] klhall1987 opened #325 "Make error text filterable"
Some of the error text isn't filterable. I had a user request a way to change the text that is displayed when a file exceeds the maximum upload limit. If we could make it all other help text filterable that would resolve their issue.

[2018-03-12 13:50] wpnzach commented on #291
Merge tags aren't processed here anyway so it wouldn't matter.  @polevaultweb we REALLY need to bring this in line with how this functionality works in other addons, via the merge tag system.  If we need to add merge tags for date/time/whatever else, please let us know or open a PR in core for them.

[2018-03-22 14:29] Curtisbrownlee opened #327 "Feature: Ability to Drag and Drop files into the form for upload"
User would like the ability to drag and drop files into their form for upload as an alternative to the "Select Files" button.

[2018-04-05 15:48] jleesmith opened #328 "Not working on Mobile Devices"
Functions properly on desktops. 👍

Mobile: 👎
You can select files to upload, but no response after selecting file.
The progress bar sometimes activates, but no completion, and no files in the uploads/ninja-forms/tmp folder.
Ninja Forms Version 3.2.18
Used different options of saving media, attaching to email, external saving, etc.

[2018-04-12 14:05] wpnzach commented on #328
@jleesmith can you submit a support request here: https://ninjaforms.com/contact/?

I can't replicate any problems on mobile, so I think this is most likely related to your environment or setup in some way.  Our support team should be able to help you sort whatever is going on.

[2018-04-12 14:05] #328 closed

[2018-04-12 14:11] wpnzach opened #329 "If PHP upload limit is set to 1G, NFFU assumes it is 1M instead"
![image](https://user-images.githubusercontent.com/7498743/38682749-e6074016-3e39-11e8-9b1e-d2d67b59f589.png)

[2018-04-12 14:14] kjohnson opened #330 "Tabbing out of an Upload field skips the submit button"
On a simple contact form I can tab through and submit the form using only the keyboard.

However, if I come across an Upload filed (and keyboard through uploading a file), the tab key seems to skip over the submit button.

[2018-04-12 19:33] polevaultweb commented on #329
@wpnzach ha, it does ask for it in MB 😄

[2018-04-21 12:15] #329 closed

[2018-04-21 12:29] polevaultweb commented on #325
@klhall1987 there is a filter on the strings sent to the JS added here https://github.com/wpninjas/ninja-forms-uploads/commit/1201f1d904e0e9b6e0ec8b1e72b92fbe07d2758b#diff-cde7523784402f7ea67e2555cb044eb0 will that do?

[2018-04-21 12:34] polevaultweb commented on #330
@kjohnson i can't recreate. Once the file progress bar has finished, the next tab goes to the 'delete' for the uploaded file, and then the next tab lands on the submit button.

It happens on the customers site if there are validation errors.

[2018-04-21 12:37] polevaultweb commented on #327
@Curtisbrownlee  This is available already, there is no specific dropzone, if they drag a file onto the form it should upload 👍

[2018-04-21 12:37] #327 closed

[2018-04-21 18:53] #324 closed

[2018-04-21 18:55] polevaultweb commented on #322
@ericwindham fixed by https://github.com/wpninjas/ninja-forms-uploads/pull/326? If so, can we close?

[2018-04-23 15:48] wpnzach commented on #330
@polevaultweb to clarify, you can recreate, but only if there are form validation errors?

[2018-04-23 16:03] polevaultweb commented on #330
@wpnzach yes, but the behaviour I see is the tab to the top to show validation errors. The tabbing sequence of FU is correct so I think this might be a core thing. Eg. what would happen if you tab off the last text box to submit but have validation errors on a form without FU?

[2018-04-24 20:57] modelm commented on #322
I had the same problem after upgrading ninja-forms from 3.0 to 3.2 while running ninja-forms-uploads 3.0.16.

Upgrading ninja-forms-uploads from 3.0.16 to 3.0.18 fixed it, so I think this can be closed.

[2018-05-01 14:01] Curtisbrownlee commented on #266
https://wpninjas.kustomerapp.com/app/customers/5ae82b45c2fd3f219f092aa5/event/5ae82b45b9893eaa479135ab

[2018-05-01 19:10] polevaultweb commented on #266
@wpnzach is there an example of another field/bit of code that dynamically alters the builder - adding fields on the fly, that I can use to help me get started with this?

[2018-05-17 15:50] devinbalram opened #335 "Uploads show as saved to the server in spite of "Save to Server," option is turned off."
The user has Store Submissions turned off & Save to Server turned off in the File Upload field, but in Ninja Forms -> File Upload -> Select your form -> Files - it still shows the files have been uploaded & saved to the server. If you click on the file, it takes you to a dead link, which shows that the actual file isn't being uploaded, but the path is still being created (My terminology may be poo

[2018-05-27 20:39] polevaultweb opened #336 "Animate CSS class for progress bar redundant and can clash."
We don't use it but it can be targeted by other plugins / theme.
https://wpninjas.kustomerapp.com/app/customers/5aba638593fb2d2d3d25f195/event/5ac53a7d1f0d0c4d71cd8c07

[2018-05-27 20:39] #336 closed

[2018-05-29 09:12] polevaultweb commented on #335
Its likely the remove file action that runs at the end is failing somehow.

[2018-06-04 19:27] jmcelhaney opened #337 "When Adding a File Upload field, the option to add it to the Email action does not appear"
When Adding a File Upload field, the option to add it to the Email action does not appear. You have to save the form and reload the page for it to be an option under the Email action.

[2018-06-05 08:30] polevaultweb commented on #337
@jmcelhaney have the gitlab repos been created before this was raised?

[2018-06-10 02:10] seb9465 commented on #319
I keep getting that error message, whether the file is 19KB 5000KB. Unable to upload any files.

[2018-11-14 12:45] andergmartins commented on #319
Hi please, could you take care of this issue? I acquired Ninja Forms for being able to upload files and it is not working. I receive this error message for some files and it is hard to understand what is the problem to fix. A more descriptive error message would help a lot.

[2018-11-14 13:20] polevaultweb commented on #319
@andergmartins this repo is not used for issues any more. Please can you raise a support ticket.

[2018-11-15 13:46] andergmartins commented on #291
I think it would be important to have the option of rename files dynamically using merge tags, or at least an option for random names. What happens if people add files with the same name?

[2018-11-15 13:53] andergmartins commented on #319
Sure thing, thanks @polevaultweb

[2018-11-15 14:44] polevaultweb commented on #291
@andergmartins FU checks like WP media uploads to see if a file exists and adds a numerical suffix to create uniqueness.

[2018-11-15 23:53] andergmartins commented on #291
Thanks, @polevaultweb. I started using it today an can confirm that works.

But processing merge tag for file names can help to organize the files. I'm using the plugin for collecting videos for a competition and need to keep them organized in the folder, due to another process we have for them. Keeping them in order of date arrival for example, or adding the user ID to the filename would help a l

[2018-11-16 12:21] andergmartins commented on #291
Great, thanks. Sorry, I have missed that info on the documentation.

[2018-11-16 16:20] polevaultweb commented on #291
No worries - it's not explicit :)

[2019-01-16 08:09] Rozkalns opened #339 "$files['name'] count"
It does not make sense to [count string](https://github.com/wpninjas/ninja-forms-uploads/blob/develop/includes/ajax/controllers/uploads.php#L73), it's impossible. Solution would be just `count ( $files )`.

As we can see in [PHP documentation](http://php.net/manual/en/features.file-upload.post-method.php), `$_FILES['userfile']['name']` will contain string.

Also, it gives an warning to all uploads

[2019-01-23 16:34] Sly36 opened #340 "File upload required is bypassed when user delete their uploaded file"
If a user add and remove his upload, he can submit the form even if the field is marked as required

[2019-01-24 13:04] polevaultweb commented on #340
Thanks @Sly36 i'll investigate

[2019-02-14 14:58] mohammedaaljunaid opened #341 "3"

[2019-02-14 16:28] mohammedaaljunaid commented on #341
Sorry for the first issue I found the solution here:
External handler URL improvements #44

Still the alignment

[2019-02-15 11:08] #341 closed

[2019-02-21 06:29] WolNielsen commented on #328
I am having the same issue, forms not working on Andriod (S9), but they are working on iphone

[2020-01-15 10:40] polevaultweb commented on #339
This has been fixed

[2020-01-15 10:40] #339 closed

[2020-02-13 19:26] mntsikou opened #342 "How to remove the progress bar?"
Hi team,

This is my first post on github and I hope my request is precise enough.

I am working on my website and I am using the WP Ninja Forms File Upload Plugin.
I am looking to remove the progress bar to integrate the form layout to my website.

Any tips?

[2020-02-14 10:08] polevaultweb commented on #342
@mntsikou you can add this CSS to your theme:

[code]

[2020-02-14 10:08] #342 closed

[2020-02-14 19:53] mntsikou commented on #342
Thank you!

[2020-08-04 22:08] DTavaszi opened #343 "Optionally overwrite existing files"
I saw one of the updates was to always add an index (filename-{index}) if a file already exists. This is not always the desired behavior, and sometimes an overwrite is needed.

[2020-08-04 22:13] DTavaszi commented on #343
Suggested fix at #344